<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="MainAppShortcut"/>
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\AngularApp\bin\Debug\netcoreapp3.1\win-$(var.Platform)\publish\">
      <Component Id="MainAppShortcut" Guid="{601B6578-129C-4B01-8441-D92EE6695606}">
        <Shortcut Id="MainAppShortcut" Name="!(loc.ProductName_$(var.Platform))" Target="[INSTALLFOLDER]AngularApp.exe" Directory="InstallProgramMenuFolder" WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Id="RegShortKey" Root="HKCU" Key="SOFTWARE\$(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes"/>
        <RemoveFolder Id="RemoveStartMenue" Directory="InstallProgramMenuFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
